<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fin Predict</title>

<!--    bootstrap styles-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!--    ion icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<!--    internal styles-->
    <link rel="stylesheet" th:href="@{/shared/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/market.css}"/>

<!--    graph links-->
    <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <link rel="stylesheet"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script type="text/javascript"-->
<!--            src="https://www.gstatic.com/charts/loader.js"></script>-->

<!--    graph styles-->
<!--    <style>-->
<!--        .market-data-graph {-->
<!--            width: 90%;-->
<!--            margin: 15px auto;-->
<!--        }-->
<!--    </style>-->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light m-3 p-3">
        <a class="navbar-brand" href="/">Fin Predict</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/market">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predictor">Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advice">Chatbot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advice">Advice</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/tahmid-saj/fin-predict"><ion-icon name="logo-github"></ion-icon></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><ion-icon name="logo-medium"></ion-icon></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ca.linkedin.com/in/tsajin"><ion-icon name="logo-linkedin"></ion-icon></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.tahmidsajin.com">tahmidsajin.com</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="market-data-container">
        <form action="#" class="market-data-form"
            th:action="@{/searchMarketData}" th:object="${marketData}" method="POST">
            <h5>Search market data</h5>
            <div class="form-row p-2">
                <div class="form-group">
                    <label for="inputCategory">Category</label>
                    <select id="inputCategory" class="form-control"
                        th:field="*{category}">
                        <option th:each="category : ${marketDataCategories}"
                                th:value="${category}" th:text="${category}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputTicker">Ticker</label>
                    <input type="ticker" class="form-control" id="inputTicker" placeholder="BTCUSD"
                        th:field="*{ticker}">
                </div>
            </div>

            <div class="form-group p-2">
                <div class="form-group">
                    <label for="inputInterval">Interval</label>
                    <select id="inputInterval" class="form-control"
                        th:field="*{interval}">
                        <option th:each="interval : ${marketDataIntervals}"
                                th:value="${interval}" th:text="${interval}"></option>
                    </select>
                </div>

                <label for="inputStartDate">Start date</label>
                <input type="date" class="form-control" id="inputStartDate"
                    th:field="*{startDate}">

                <label for="inputEndDate">End date</label>
                <input type="date" class="form-control" id="inputEndDate"
                    th:field="*{endDate}">
            </div>

            <button type="submit" class="btn btn-dark m-2 pt-2 pr-5 pl-5 pb-2">Search</button>
            <a class="btn btn-secondary m-2 pt-2 pr-5 pl-5 pb-2"
                th:href="@{/clearMarketData}"
                onclick="return true">Clear</a>
        </form>

        <div class="market-data-graph"
            th:if="${marketDataSearchResults.size() != 0}">
            <h4>Market data</h4>
            <div>
                <canvas id="marketDataGraph"></canvas>
            </div>
        </div>

<!--        <script th:inline="javascript">-->
<!--            var real_data = /*[[${marketDataSearchResults}]]*/'noValue';-->

<!--            $(document).ready(function() {-->
<!--                google.charts.load('current', {-->
<!--                    packages : [ 'corechart', 'line' ]-->
<!--                });-->
<!--                google.charts.setOnLoadCallback(drawLineChart);-->
<!--            });-->

<!--            function drawLineChart() {-->
<!--                var data = new google.visualization.DataTable();-->
<!--                data.addColumn('string', 'Year');-->
<!--                data.addColumn('number', 'Views');-->
<!--                Object.keys(real_data).forEach(function(key) {-->
<!--                    data.addRow([ key, real_data[key] ]);-->
<!--                });-->
<!--                var options = {-->
<!--                    title : 'Blog stats',-->
<!--                    hAxis : {-->
<!--                        title : 'Years',-->
<!--                    },-->
<!--                    vAxis : {-->
<!--                        title : 'View Count'-->
<!--                    }-->
<!--                };-->
<!--                var chart = new google.visualization.LineChart(document-->
<!--                        .getElementById('marketDataGraph'));-->
<!--                chart.draw(data, options);-->
<!--            }-->
<!--        </script>-->

        <script th:inline="javascript">
            var real_data = [[${marketDataSearchResults}]];
            var labelsData = [];
            var valuesData = [];

            Object.keys(real_data).forEach(function(key) {
               labelsData.push(key);
               valuesData.push(real_data[key]);
            });

            let ctx = document.getElementById("marketDataGraph").getContext("2d");
            let predictorGraph = new Chart(ctx, {
                type: "line",
                data: {
                    labels: labelsData,
                    datasets: [
                        {
                            label: "Closing price",
                            data: valuesData,
                            backgroundColor: "#6b9080",
                        },
                    ],
                },
            });
        </script>

        <div class="market-data-table"
             th:if="${marketDataSearchResults.size() != 0}">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Date</th>
                        <th>Closing Price</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="marketDataSearchResult : ${marketDataSearchResults}">
                        <td th:text="${marketDataSearchResult.key}"></td>
                        <td th:text="${marketDataSearchResult.value}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>