.about-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 5% 2% 5% 2%;
}

.card {
    margin: 1%;
    background-color: #adb5bd;
}

.btn {
    position: absolute;
    bottom: 0px;
    margin: 1% 1% 5% 1%;
}

.card-title,
.card-text {
    color: black;
}

a {
    text-decoration: none;
}