.market-data-container {
    border-radius: 1.001rem;
    background-color: #333533;
    box-shadow: 1.5px 1.5px #212529;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 2% 1% 2% 1%;
    padding: 2%;
}

label,
h5 {
    color: lightgray;
}

.market-data-form {
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0% 10% 3% 10%;
}

.market-data-graph {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border-radius: 1.001rem;
    background-color: #cce3de;
    width: auto;
    margin-top: 5%
    margin-bottom: 5%;
    padding: 2%;
}

.market-graph-table {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 5% 1% 5% 1%;
    background-color: #6c757d;
    width: auto;
}

.market-data-form-error {
    color: lightgray;
}