.predictor-header {
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.predictor-container {
    border-radius: 1.001rem;
    background-color: #333533;
    box-shadow: 1.5px 1.5px #212529;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 2% 20% 2% 20%;
    padding: 2%;
}

label,
h5 {
    color: lightgray;
}

.predictor-graph {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border-radius: 1.001rem;
    background-color: #cce3de;
    width: 95%;
    margin-bottom: 5%;
    padding: 2%;
}

.daily-predictor-table {
    margin-bottom: 5%;
}

.predictor-table {
    margin: 5% 1% 1% 1%;
    background-color: #6c757d;
    width: 100%;
}