<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Finance Prediction</title>

<!--    bootstrap styles-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!--    ion icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!--    internal styles-->
    <link rel="stylesheet" th:href="@{/shared/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/about.css}"/>
</head>

<body>
<!--    <nav class="navbar navbar-expand-lg navbar-light m-3 p-3">-->
<!--        <a class="navbar-brand" href="/">Fin Predict</a>-->

<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="/">About</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/market">Market</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/predictor">Predictor</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/advice">Chatbot</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/advice">Advice</a>-->
<!--                </li>-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="https://github.com/tahmid-saj/fin-predict"><ion-icon name="logo-github"></ion-icon></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#"><ion-icon name="logo-medium"></ion-icon></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="https://ca.linkedin.com/in/tsajin"><ion-icon name="logo-linkedin"></ion-icon></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="https://www.tahmidsajin.io">tahmidsajin.io</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->

    <nav class="navbar navbar-expand-lg navbar-light m-3 p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Finance Prediction</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/market">Market</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/predictor">Predictor</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/advice">Chatbot</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/advice">Advice</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/tahmid-saj"><ion-icon name="logo-github"></ion-icon></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/@tahmid.saj/designing-a-finance-prediction-application-2b58dbb54d3a"><ion-icon name="logo-medium"></ion-icon></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ca.linkedin.com/in/tsajin"><ion-icon name="logo-linkedin"></ion-icon></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.tahmidsajin.io">tahmidsajin.io</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="about-cards-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="/market">
                        <div class="card" style="width: 22rem; height: 30rem;">
                            <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/014/563/665/original/investment-forecast-or-prediction-vision-to-see-investing-opportunity-future-profit-from-stock-and-crypto-trading-concept-flat-modern-illustration-vector.jpg"
                                 alt="Card image cap" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${navigationLinksHeaders.get(1)}"></h5>
                                <p class="card-text">Get current and historical market data on stocks, indices, crypto and foreign exchange.</p>
                                <a href="/market" class="btn btn-secondary">Learn more</a>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="/predictor">
                        <div class="card" style="width: 22rem; height: 30rem;">
                            <img class="card-img-top" src="https://media.istockphoto.com/id/1189915287/vector/business-team-and-successful-financial-strategy.jpg?s=612x612&w=0&k=20&c=bk1TpF1dhIQ2znV_0veCQ6yY-QSud0m7-CzE6GCJ5QQ="
                                 alt="Card image cap" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${navigationLinksHeaders.get(2)}"></h5>
                                <p class="card-text">A bitcoin and stock predictor developed to inform of any potential investment opportunities or downfalls.</p>
                                <a href="/predictor" class="btn btn-secondary">Learn more</a>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="/advice">
                        <div class="card" style="width: 22rem; height: 30rem;">
                            <img class="card-img-top" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/334804806/original/793cad2ae511c4c9b30c1d5e8206b8eb8ab21087/create-a-ai-chat-bot-embedded-website-for-you.png"
                                 alt="Card image cap" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${navigationLinksHeaders.get(3)}"></h5>
                                <p class="card-text">Provide your financial concerns and ask for suggestions from our chatbot.</p>
                                <a href="/advice" class="btn btn-secondary">Learn more</a>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="/advice">
                        <div class="card" style="width: 22rem; height: 30rem;">
                            <img class="card-img-top" src="https://media.istockphoto.com/id/1161246760/vector/company-strategy-planning-business-data-analysis-business-educational-concept-digital.jpg?s=612x612&w=0&k=20&c=HcfgXYM9TpaBDHohGjDkuOcrDlwpbj_6h-n0RGNtgpw="
                                 alt="Card image cap" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${navigationLinksHeaders.get(4)}"></h5>
                                <p class="card-text">Receive weekly financial advice depending on the current economy and market.</p>
                                <a href="/advice" class="btn btn-secondary">Learn more</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>